body{
    background: url(./background.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content{
    margin-left: auto;
    margin-right: auto;
    background-color: salmon;
    text-align: center;
    border-radius: 10px;
    border: blanchedalmond 5px solid;
}

.main-content1,.main-content2,.main-content3{
    margin-left: auto;
    margin-right: auto;
    background-color: salmon;
    text-align: center;
    border-radius: 10px;
    border: blanchedalmond 5px solid;
    margin-bottom: 20px; 
}

input,button{
    margin-bottom: 2%;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
/*
 Responsive for mobile

@media only screen and (min-width:450px) {
 
    .main-content1,.main-content2,.main-content3 {
        width: 100%;
        margin: auto;
    }
}

Responsive for Tabs

@media only screen and (width>=700px) and (width < 1505px) {

    .main-content1,.main-content2,.main-content3 {
        width: 50%;
        margin: auto;
    }

}
*/
 /*Responsive for PC

@media only screen and (min-width:1000px) {
    .main-content1,.main-content2,.main-content3 {
        margin: auto;
    }
	
}
*/
/* Responsive for XL PC */

@media only screen and (width>=1505px) {
    .main-content{
        width: 99%;
    }
    .main-content1,.main-content2,.main-content3 {
        width: 32.4%;
        margin: auto;
        display: inline-block;
    }
}